 @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Electrolize&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #EDEDEF;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1F3453;
  height: 100px;
  padding-left: 5vw;
  padding-right: 5vw;
  flex-shrink: 0;
}

h1 {
  color: white;
  font-size: 2.5rem;
  font-family: "Electrolize", sans-serif;
  letter-spacing: 2px;
  margin: 0;
  padding-left: 1rem;
}

#logout-button {
  display: flex;
  align-items: center;
  padding-right: 2vw;
  cursor:pointer;
  transition: color 0.25s ease;
  background-color: #FFF;
  color:black;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-family: "Electrolize", sans-serif;

}
#logout-button:hover{
    color:#6F6F70;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem 1rem 3rem;

}

.main-box-clock{
  background-color: white;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 50rem;
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-box-clock{
    gap:1rem;
}
.relogio{
    display:flex;
    font-family: "Electrolize", sans-serif;
    gap:1rem;
    font-size: 2.7rem;
}
.data-texto{
    color:gray;
    font-size:1.5rem;
    font-family: "Montserrat", sans-serif;
}
#punch-button {
  display:flex;
  background-color: #36BE7C;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.3rem;
  transition: color 0.5s ease;
}
#punch-button:hover{
   background-color:#2E5341;
}

.main-box-record {
display:flex;
flex-direction:column;
background-color: white;
padding: 2.5rem;
border-radius: 12px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
width: 100%;
max-width: 50rem;
min-height: 12rem;

}
.title-record{
    font-family: "Montserrat", sans-serif;
    font-size:1.3rem;
}
.record-table{
   text-align: center;
   font-family: "Montserrat", sans-serif;
   justify-content:space-between;
   font-size:1.1rem;
}

.record-table th {
  font-weight: 600;
  padding-bottom: 0.8rem;
    border-bottom: 1px solid #DADADA;
}

.record-table td {
  padding: 0.4rem 0;
    border-bottom: 1px solid #DADADA;
}
.record-table tr{
    font-size:1rem;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem 4rem;
  background-color: #f8f9fa;
}
.footer-link-icon{
    padding-right:0.5rem;
    text-decoration: none;
}
.footer-link-icon:hover {
  color: red;
}

.footer-link {
  font-family: "Montserrat", sans-serif;
  color: #1F3352;
  text-decoration: none;
  font-size: 1.3rem;
  padding-right: 4rem;
}

.footer-link:hover {
  color: red;

}

/* Login page css */

.login-box{
display:flex;
flex-direction:column;
background-color: #1F3453;
padding: 2.5rem;
border-radius: 1rem;
box-shadow: 0 9px 10px rgba(1, 1, 1, 1);
width: 100%;
max-width: 20rem;
min-height: 20rem;
}

.login-box-content-title{
     color: white;
     font-size: 2rem;
     font-family: "Electrolize", sans-serif;
     letter-spacing: 2px;
     margin: 0;
}
#login-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top:2rem;
}
#login-form input{
    padding: 0.8rem;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    outline: none;
}

#login-form input:focus {
     box-shadow: 0 0 0 2px #4da6ff;
 }

 /* BOTÃO */
 .login-form-button {
     padding: 12px;
     border-radius: 8px;
     border: none;
     background-color: #4da6ff;
     color: white;
     font-weight: bold;
     cursor: pointer;
     transition: 0.3s ease;
 }

 .login-form-button:hover {
     background-color: #1f8cff;
     transform: translateY(-2px);
 }