 @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Electrolize&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #EDEDEF;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1F3453;
  height: 100px;
  padding-left: 5vw;
  padding-right: 5vw;
  flex-shrink: 0;


}

h1 {
  color: white;
  font-size: 2.5rem;
  font-family: "Electrolize", sans-serif;
  letter-spacing: 2px;
  margin: 0;
  padding-left: 1rem;
}

.icon-header {
  color: white;
  display: flex;
  align-items: center;
  padding-right: 2vw;
  cursor:pointer;
  transition: color 0.25s ease;
}
.icon-header:hover{
    color:#6F6F70;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem 1rem 3rem;

}

.main-box-clock,
.main-box-record {
  background-color: white;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 50rem;
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.relogio{
    display:flex;
    font-family: "Electrolize", sans-serif;
    gap:1rem;
    font-size: 2.5rem;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem 4rem;
  background-color: #f8f9fa;
}
.footer-link-icon{
    padding-right:0.5rem;
    text-decoration: none;
}
.footer-link-icon:hover {
  color: red;
  transition: color 0.25s ease;
}

.footer-link {
  font-family: "Montserrat", sans-serif;
  color: #1F3352;
  text-decoration: none;
  font-size: 1.3rem;
  padding-right: 4rem;
  transition: color 0.25s ease;

}

.footer-link:hover {
  color: red;

}